<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">

    <!-- Custom crossorigin -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/custom.css") }}">

    <title>Student List</title>
  </head>
  <body>

    <div class="container" style="margin-top: 50px;">
      <div class="row">
        <div class="col-md">
          <h2>Student List</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <a type="button" href="{{ url_for('register') }}" class="btn btn-dark">Create new Student</a>
        </div>
      </div>

      <div class="row" style="margin-top: 50px;">
        <div class="col-md">

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Curso</th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                  <th scope="row">{{ student.id }}</th>
                  <td>{{ student.name }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.course }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="{{ url_for("static", filename="js/jquery-3.3.1.slim.min.js") }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ url_for("static", filename="js/popper.min.js") }}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
